<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion | Academix</title>
    <link rel="stylesheet" href="/stylesheets/globalAuth.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div id="logo">
        <img src="/img/academixLogo.png" width=300px height=80px alt="Logo de Academix">
    </div>
    <main id="loginbox">
        <h2 id="instruction">Connectez-vous à votre compte Academix</h2>
        <form action="" method="POST">
            <input type="text" class="loginInput" placeholder="Email ou Numéro de téléphone" name="email" id="email" required>
            <input type="password" class="loginInput" placeholder="Mot de passe" name="password" id="password" required>
            <br>
            <input type="submit" value="Se connecter">
        </form>
        <form action="" method="GET">
            <input id="oubli"type="button" value="Oubli de mot de passe?">
        </form>

        <div id="autreOption">
            <span>Pas de compte ?</span>
            <a href="/user/register">Inscrivez-vous</a>
        </div>
    </main>
</body>
</html>