<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription | Academix</title>
    <link rel="stylesheet" href="/stylesheets/globalAuth.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div id="logo">
        <img src="/img/academixLogo.png" width=300px height=80px alt="Logo de Academix">
    </div>
    <main id="signupbox">
        <h2 id="instruction">Inscription à Academix</h2>
        <form action="" method="post">
            <input id="noms" type="text" placeholder="Prénom" name="prenom" id="prenom" required>
            <input id="noms" type="text" placeholder="Nom" name="nom" id="nom" required>
            <input type="text" id="emailId" placeholder="Addresse courriel" name="email" id="email" required>
            <input type="password" id="mdpCreation" placeholder="Entrez un mot de passe" name="password" id="password" required>
            <br>
            <input type="password" id="mdpCreation" placeholder="Re-entrez le mot de passe" name="password2" id="password2" required>
            <br>
            <label for="tel">Numéro de téléphone :</label>
            <input type="tel" id="telId" placeholder="123-456-7890" name="tel" id="tel">
            <br>
            <label for="dn">Date de naissance :</label>
            <input type="date" id="dateNaissance" name="dn" id="dn" required>
            <br>
            <label for="genre" id="genre">Genre : </label>
            <select name="genre" id="genre" required>
                <option value="H">Homme</option>
                <option value="F">Femme</option>
                <option value="A">Autre</option>
                <option value="Ind">Préfère ne pas dire</option>
            </select>
            <br>
            <input type="submit" id="btnInscription" value="S'inscrire">
        </form>

        <div id="autreOption">
            <span>Vous avez déjà un compte ?</span>
            <a href="/user/login">Connectez-vous</a>
        </div>
        <% if (messages.error) { %>
            <div class="alert alert-danger"><%= messages.error %></div>
        <% } %>
</body>
</html>
