/* Chat.css */
.chat-page {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1/3 et 2/3 de largeur */
    grid-template-rows: auto 1fr; /* Hauteur automatique pour le nouveau chat, 1/3 et 2/3 de la hauteur pour la liste de chat et la boîte de chat */
    grid-template-areas:
      "new-chat chat-list"
      "chat-box chat-box";
    height: 100vh; /* Hauteur complète de la fenêtre */
  }
  
  .conversation-section {
    grid-area: chat-list;
    overflow-y: auto; /* Autoriser le défilement de la liste de chat si nécessaire */
    border: 1px solid white; /* Ajouter une bordure blanche */
    padding: 10px; /* Ajouter un espacement intérieur */
  }
  
  .chatbox-section {
    grid-area: chat-box;
    overflow-y: auto; /* Autoriser le défilement de la boîte de chat si nécessaire */
    border: 1px solid white; /* Ajouter une bordure blanche */
    padding: 10px; /* Ajouter un espacement intérieur */
  }
  
  .new-chat-section {
    grid-area: new-chat;
    border: 1px solid white; /* Ajouter une bordure blanche */
    padding: 10px; /* Ajouter un espacement intérieur */
  }
  
  .empty-message {
    padding: 16px;
    text-align: center;
    color: #777;
  }
  