.chat-list {
  width: 33.33%; 
  background-color: transparent;
  border: 1px solid white;
  margin-top: 20px; 
  padding: 10px; 
  height: calc(100vh - 40px); 
  overflow-y: auto; 
}

.chat-list-item {
  cursor: pointer;
}

.chat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}
