/* Chat.css */

/* Styles pour le ChatList */
.conversation-section {
  grid-area: chat-list;
  overflow-y: auto;
  border: 1px solid white;
  padding: 10px;
}

/* Styles pour le ChatBox */
.chatbox-section {
  grid-area: chat-box;
  overflow-y: auto;
  border: 1px solid white;
  padding: 10px;
  width: calc(2/3 * 100vw); /* 2/3 de la largeur de la page */
  height: 100vh; /* Hauteur de la page */
  background-color: transparent; /* Fond transparent */
  box-sizing: border-box; /* Inclure les bordures et le padding dans le calcul de la taille */
}

/* Styles pour le NewChat */
.new-chat-section {
  grid-area: new-chat;
  border: 1px solid white;
  padding: 10px;
  position: relative;
}

.new-chat-container {
  position: absolute;
  background-color: white;
  width: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  padding: 10px;
  z-index: 1;
}

/* Styles supplémentaires */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.messages {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

form {
  margin-top: 20px;
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0d8bf2;
}

button:active {
  background-color: #0a6ebd;
}

button:focus {
  outline: none;
}
