@tailwind base;
@tailwind components;
@tailwind utilities;

/* Composants personnalisés */
@layer components {
  /* Animation de déplacement */
  @keyframes move {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(100vw) translateY(100vh);
    }
  }

  /* Conteneur principal */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-[#0f0f20] px-6 pb-10 pt-28 max-md:pb-32 sm:px-10 relative overflow-hidden;
  }

  /* Arrière-plan en grille */
  .main-container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%; /* Taille plus grande pour couvrir tout le conteneur */
    height: 200%;
    background: repeating-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 50px
    ); /* Crée une grille de lignes */
    animation: move 25s linear infinite; /* Ajuster la durée au besoin */
    filter: blur(10px); /* Appliquer un flou à l'ensemble de la pseudo-élément */
  }

  /* Texte principal */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Carte d'activité */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* Aucun résultat */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Carte de la communauté */
  .community-card {
    @apply w-full rounded-lg bg-emerald-50 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !important;
  }

  /* Barre de progression de la carte de discussion */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-lime-200;
  }

  /* Carte utilisateur */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
  }

  /* Champ de recherche */
  .searchbar_input {
    transition: all 0.3s ease-in-out;
    width: 100%; /* Largeur par défaut */
    background-color: #f0f0f0; /* Fond gris clair */
  }

  .searchbar_input:focus {
    width: 100%; /* S'étendre sur toute la largeur lorsqu'il est sélectionné */
    background-color: #ffffff; /* Passer au blanc lorsqu'il est sélectionné */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour la profondeur */
  }

  /* Barre supérieure */
  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  /* Barre inférieure */
  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  /* Barre latérale gauche */
  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  /* Pagination */
  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  /* Barre latérale droite */
  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }
}

/* Utilitaires personnalisés */
@layer utilities {
  /* Inversion des couleurs */
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  /* Personnalisation de la barre de défilement */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Styles spécifiques à Clerk */
/* Masquer certains éléments pour une meilleure intégration avec le style Fallout */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Styles spécifiques à Shadcn Component */
/* Onglet */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

/* Supprimer la mise au point par défaut pour une meilleure intégration avec le style Fallout */
.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Profil de compte */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Formulaire de commentaire */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

/* Conteneur de calendrier */
.fullcalendar-container {
  width: 100%; /* Utiliser 100% de la largeur disponible */
  height: 80vh; /* Utiliser 80% de la hauteur de la fenêtre */
  min-width: 500px; /* Largeur minimale du calendrier */
  min-height: 500px; /* Hauteur minimale du calendrier */
  padding: 20px;
  overflow: hidden; /* Masquer le débordement */
}

@media (max-width: 768px) {
  .fullcalendar-container {
    height: 100vh;
  }
}

@media (orientation: landscape) {
  .fullcalendar-container {
    height: 100vh;
  }
}

/* Styles inspirés de Fallout */
/* Barre supérieure */
.topbar {
  background-color: #0f0f20; /* Bleu foncé rappelant le style de couleur de Fallout */
  color: #ffffff; /* Texte blanc pour une meilleure lisibilité */
  font-family: 'VT323', monospace;
  border-bottom: 4px solid #d9f99d; /* Accent orange rouillé pour la bordure inférieure */
}

.topbar a,
.topbar a:hover {
  color: #d9f99d; /* Couleur orange rouillée pour les liens */
}

/* Styles personnalisés pour les boutons */
button,
.organizationSwitcherTrigger {
  background-color: #336699; /* Bleu atténué pour les boutons */
  border: none; /* Supprimer la bordure pour un design plat */
  font-family: 'Courier New', Courier, monospace; /* Police monospace cohérente */
  text-transform: uppercase;
  letter-spacing: 1px; /* Augmenter l'espacement des lettres pour un effet de machine à écrire */
  box-shadow: 2px 2px 0px #d9f99d; /* Ajouter une ombre pour un effet 3D */
}

/* Supprimer les thèmes par défaut de Clerk pour mieux s'intégrer au style Fallout */
button.clerk,
.organizationSwitcherTrigger {
  background-color: transparent; /* Supprimer l'arrière-plan */
  color: #ffffff; /* Définir la couleur du texte en blanc */
  padding: 10px 20px;
}

/* Bulle animée */
.bubble {
  position: absolute;
  bottom: 0;
  width: 4px; /* Taille plus petite pour plus de bulles */
  height: 4px;
  background-color: white; /* Couleur des bulles */
  border-radius: 50%;
  opacity: 0;
  animation: bubble 15s linear infinite; /* Ajuster la durée pour la vitesse souhaitée */
}

/* Barre latérale gauche inspirée de Fallout */
.leftsidebar {
  background-color: #0f0f20; /* Couleur de fond sombre */
  color: #ffffff; /* Texte blanc pour une meilleure lisibilité */
}

.leftsidebar a,
.leftsidebar a:after {
  color: #d9f99d; /* Couleur du texte vert clair */
}

.leftsidebar_link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'VT323', monospace; /* Police monospace rétro */
  transition: background-color 0.3s; /* Transition en douceur pour les états survolés */
  position: relative; /* Permet le positionnement absolu pour les pseudo-éléments */
}

.leftsidebar_link:hover,
.leftsidebar_link.bg-primary-500 {
  background-color: #3352da; /* Couleur bleue pour les liens actifs ou survolés */
}

/* Ajouter une ligne jaune après chaque .leftsidebar_link */
.leftsidebar_link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px; /* Largeur de la ligne jaune */
  height: 100%; /* Hauteur totale de l'élément parent */
  background-color: #d9f99d; /* Couleur jaune pour la ligne */
}

.leftsidebar_link:not(:last-child)::after {
  height: calc(100% + 16px); /* Augmenter la hauteur de la ligne au-delà de chaque élément pour des lignes continues */
}

.leftsidebar_link:last-child::after {
  height: 100%; /* Le dernier élément ne doit pas dépasser la ligne */
}

.leftsidebar_link p {
  color: inherit; /* Assurez-vous que la couleur du texte correspond à celle du parent */
}

/* Styles personnalisés pour le bouton de déconnexion */
.sign-out-button div {
  transition: background-color 0.3s; /* Transition en douceur pour les états survolés */
}

.sign-out-button div:hover {
  background-color: #336699; /* Bleu atténué pour l'état survolé */
  box-shadow: 0 0 10px #e69900; /* Effet de lueur au survol */
}

/* Effet de survol pour les cartes */
.card-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.card-hover-effect:hover {
  transform: scale(1.05);
}

/* Animation de bulle */
@keyframes bubble {
  0% {
    transform: translateY(100vh) translateX(0); /* Départ juste en dessous de l'écran */
    opacity: 0.1; /* Légèrement visible pour une entrée en douceur */
  }
  50% {
    opacity: 0.6; /* Plus visible au milieu de l'écran */
  }
  100% {
    transform: translateY(-100vh) translateX(0); /* Déplacer juste au-dessus du haut de l'écran */
    opacity: 0.1; /* Disparaître avant de sortir */
  }
}

/* Pied de page */
.footer {
  color: white;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  font-weight: 200;
  padding: 10px 20px;

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: #c6c6c6;
    }
  }
}

/* Effet de survol pour les images */
.card-hover-effect {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-hover-container {
  position: relative;
  width: 100%; /* S'adapte à la largeur totale du conteneur parent */
  height: 700px; /* Hauteur correspondant à l'image */
}

.hover-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #f0f0f0;
  cursor: pointer;
  opacity: 1; /* Entièrement visible initialement */
  transition: opacity 0.5s ease; /* Transition en douceur pour le changement d'opacité */
  z-index: 2; /* Assure que le bouton est au-dessus de l'image */
}

.hover-button:hover {
  opacity: 0; /* Le bouton devient transparent au survol */
}

.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  z-index: 1; /* Inférieur au bouton pour le rendre cliquable */
  overflow: hidden;
}

.hover-button:hover + .image-hover {
  display: block;
}

