@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    /* main */
    @keyframes move {
      0% {
        transform: translateX(0) translateY(0);
      }
      100% {
        transform: translateX(100vw) translateY(100vh);
      }
    }
    
    .main-container {
      @apply flex min-h-screen flex-1 flex-col items-center bg-[#0f0f20] px-6 pb-10 pt-28 max-md:pb-32 sm:px-10 relative overflow-hidden;
    }
    
    .main-container::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%; /* Grande taille pour couvrir tout le conteneur */
      height: 200%;
      background: repeating-linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.1) 1px,
          transparent 1px,
          transparent 50px
      ); /* Crée une grille de lignes */
      animation: move 25s linear infinite; /* Ajuster l'heure si nécessaire */
      filter: blur(10px); /* Applique un flou à l'ensemble du pseudo-élément */
    }
    /* Texte d'en-tête */
    .head-text {
      @apply text-heading2-bold text-light-1;
    }
  
    /* Activite */
    .activity-card {
      @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
    }
  
    /* Pas resultats */
    .no-result {
      @apply text-center !text-base-regular text-light-3;
    }
  
    /* Community Card(cboite communaute) */
    .community-card {
      @apply w-full rounded-lg bg-emerald-50 px-4 py-5 sm:w-96;
    }
  
    .community-card_btn {
      @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !important;
    }
  
    /* thread card(publications)  */
    .thread-card_bar {
      @apply relative mt-2 w-0.5 grow rounded-full bg-lime-200;
    }
  
    /* User card (utilisateurs)*/
    .user-card {
      @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
    }
  
    .user-card_avatar {
      @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
    }
  
    .user-card_btn {
      @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
    }
  
    .searchbar_input {
      transition: all 0.3s ease-in-out;
      width: 100%; /* Dlargeur par default */
      background-color: #f0f0f0; /* gris claire fonds */
    }
    
    .searchbar_input:focus {
      width: 100%; /* Agrandissement en pleine largeur lors du focus */
      background-color: #ffffff; /* Passer au blanc lors de la mise au point */
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour la profondeur */
    }
  
    .topbar {
      @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
    }
  
    .bottombar {
      @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
    }
  
    .bottombar_container {
      @apply flex items-center justify-between gap-3 xs:gap-5;
    }
  
    .bottombar_link {
      @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
    }
  
    .leftsidebar {
      @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
    }
  
    .leftsidebar_link {
      @apply relative flex justify-start gap-4 rounded-lg p-4;
    }
  
    .pagination {
      @apply mt-10 flex w-full items-center justify-center gap-5;
    }
  
    .rightsidebar {
      @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
    }
  }
  
  @layer utilities {
    .css-invert {
      @apply invert-[50%] brightness-200;
    }
  
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #09090a;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5c5c7b;
      border-radius: 50px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7878a3;
    }
  }
  
/* Correctif réactif du clerk */  .cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
  }
  
  .cl-organizationSwitcherTrigger
    .cl-organizationPreview
    .cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
  }
  
  
  /* Tab */
  .tab {
    @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
  }
  
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  
  /* Profil du compte  */
  .account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
  }
  
  .account-form_image-input {
    @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
  }
  
  .account-form_input {
    @apply border border-dark-4 bg-dark-3 text-light-1 !important;
  }
  
  /* CForme du commentaire */
  .comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
  }
  
  .comment-form_btn {
    @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
  }
  .fullcalendar-container {
    width: 100%; /* Utiliser 100% de la largeur disponible */
    height: 80vh; /* Utiliser 80% de la hauteur de la fenêtre */
    min-width: 500px; /* Largeur minimale du calendrier */
    min-height: 500px; /* Hauteur minimale du calendrier */
    padding: 20px;
    overflow: hidden; /* Masquer le débordement */
  }
  
  @media (max-width: 768px) {
    .fullcalendar-container {
      height: 100vh;
    }
  }
  
  @media (orientation: landscape) {
    .fullcalendar-container {
      height: 100vh;
    }
    .card-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.card-hover-effect:hover {
  transform: scale(1.05);
}

@keyframes bubble {
  0% {
      transform: translateY(100vh) translateX(0); /* Commence juste en dessous de l'écran */
      opacity: 0.1; /* Début légèrement visible pour une entrée en douceur */
  }
  50% {
      opacity: 0.6; /* Plus visible au milieu de l'écran */
  }
  100% {
      transform: translateY(-100vh) translateX(0); /* Déplacement juste au-dessus du haut de l'écran */
      opacity: 0.1; /* Fondu avant de quitter */
  }
}
/*  styles inspire de fallout */
.topbar {
    background-color: #0f0f20; /* bleu fonce */
    color: #ffffff; /* texte blanc pour mettre en enphase*/
    font-family: 'VT323', monospace;
    border-bottom: 4px solid #d9f99d; /* orange dure sur les bords*/
}

.topbar a, .topbar a:hover {
    color: #d9f99d; /* ornage dur pour liaison */
}

/* Style modifications for retro feel */
button, .organizationSwitcherTrigger {
    background-color: #336699; 
    border: none; 
    font-family: 'Courier New', Courier, monospace; 
    text-transform: uppercase;
    letter-spacing: 1px; 
    box-shadow: 2px 2px 0px #d9f99d; 
}

/* on applique un Fallout style */
button.clerk, .organizationSwitcherTrigger {
    background-color: transparent; /* pas de fond*/
    color: #ffffff; /* texte en blanc */
    padding: 10px 20px;
}


.bubble {
  position: absolute;
  bottom: 0;
  width: 4px;  /* taille plus petite pr + bules */
  height: 4px;
  background-color: white; /* Couleur des bules */
  border-radius: 50%;
  opacity: 0;
  animation: bubble 15s linear infinite; /* ajuste temps de vitesse */
}

.white-background {
  background-color: #ffffff;
}

/*bare cote gauche
*/

.custom-scrollbar {
  scrollbar-color: ##d9f99d #d9f99d; /* scrollabre couleurs */
}

.leftsidebar {
  background-color: #0f0f20; /* fond noir */
  color: #ffffff; /* txt blanc */
}

.leftsidebar a, .leftsidebar a:after {
  color: #d9f99d; /* txt vert claire */
}

.leftsidebar_link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'VT323', monospace; 
  transition: background-color 0.3s; 
  position: relative; 
}

.leftsidebar_link:hover, .leftsidebar_link.bg-primary-500 {
  background-color: #3352da; /* liens en bleu */
}

/* ligne jaune pr espacer barre */
.leftsidebar_link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px; 
  height: 100%; 
  background-color: #d9f99d; 
}
/*ajuster la barre jaune
*/
.leftsidebar_link:not(:last-child)::after {
  height: calc(100% + 16px); 
}

.leftsidebar_link:last-child::after {
  height: 100%; 
}

.leftsidebar_link p {
  color: inherit; 
}

/* deconnecter style pour ce bouton */
.sign-out-button div {
  transition: background-color 0.3s; /* transisiton */
}

.sign-out-button div:hover {
  background-color: #336699; 
  box-shadow: 0 0 10px #e69900; 
}


.input-focus-effect:focus, .textarea-focus-effect:focus {
  outline: none;
  border-color: #f5f5dc; 
  background-color: #e2e2e2; 
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* boutton animation*/
.button-hover-effect:hover {
  background-color: #d9f99d; 
  transform: scale(1.05); 
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}


/* chosiir style */
.select-custom {
  appearance: none;  
  background-color: #336699; 
  color: #d9f99d; 
  border: 2px solid #d9f99d; 
  padding: 8px 16px; 
  border-radius: 8px; 
  outline: none; 
  position: relative; 
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 12px; 
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out; 
}

.select-custom:focus {
  background-color: #222; 
  border-color: #d9f99d; 
}



.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-button {
  border: 2px solid #d9f99d; 
  color: #d9f99d; 
  background-color: #336699; 
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.file-input-field {
  font-size: 100px; 
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; 
}

.file-input-button:hover,
.file-input-button:focus {
  background-color: #222; 
  border-color: #888; 
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out; 
}


.avatar-animation-container {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ffd700; 
  animation: float 5s ease-in-out infinite;
}

.avatar-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/*animation*/


.animation-container {
	display: block;
	position: relative;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	
	.lightning-container {
		position: absolute;
		top: 50%;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		
		.lightning {
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 12px;
			transform-origin: 6px 6px;

			animation-name: woosh;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			animation-direction: alternate;

			&.white {
				background-color: white;
				box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
			}

			&.red {
				background-color: #fc7171;
				box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
				animation-delay: 0.2s;
			}
		}
	}
	
	
	.boom-container {
		position: absolute;
		display: flex;
		width: 80px;
		height: 80px;
		text-align: center;
		align-items: center;
		transform: translateY(-50%);
    left: 200px;
    top: -145px;
		
		.shape {
			display: inline-block;
			position: relative;
			opacity: 0;
			transform-origin: center center;
			
			&.triangle {
				width: 0;
				height: 0;
				border-style: solid;
				transform-origin: 50% 80%;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				margin-left: -15px;
				border-width: 0 2.5px 5px 2.5px;
				border-color: transparent transparent #42e599 transparent;
				animation-name: boom-triangle;
				
				&.big {
					margin-left: -25px;
					border-width: 0 5px 10px 5px;
					border-color: transparent transparent #fade28 transparent;
					animation-name: boom-triangle-big;
				}
			}
			
			&.disc {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: #d15ff4;
				animation-name: boom-disc;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
			}
			
			&.circle {
				width: 20px;
				height: 20px;
				animation-name: boom-circle;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				border-radius: 100%;
				margin-left: -30px;
				
				&.white {
					border: 1px solid white;
				}
				
				&.big {
					width: 40px;
					height: 40px;
					margin-left: 0px;
					
					&.white {
						border: 2px solid white;
					}
				}
			}
			
			&:after {
				background-color: rgba(178, 215, 232, 0.2);
			}
		}
		
		.shape {
			&.triangle, &.circle, &.circle.big, &.disc {
				animation-delay: .38s;
				animation-duration: 3s;
			}
			
			&.circle {
				animation-delay: 0.6s;
			}
		}
		
		&.second {
			left: 485px;
			top: 155px;
			.shape {
				&.triangle, &.circle, &.circle.big, &.disc {
					animation-delay: 1.9s;
				}
				&.circle {
					animation-delay: 2.15s;
				}
			}
		}
	}
}

@keyframes woosh {
	0% {
		width: 12px;
		transform: translate(0px, 0px) rotate(-35deg);
	}
	15% {
		width: 50px;
	}
	30% {
		width: 12px;
		transform: translate(214px, -150px) rotate(-35deg);
	}
	30.1% {
		transform: translate(214px, -150px) rotate(46deg);
	}
	50% {
		width: 110px;
	}
	70% {
		width: 12px;
		transform: translate(500px, 150px) rotate(46deg);
	}
	70.1% {
		transform: translate(500px, 150px) rotate(-37deg);
	}
	
	85% {
		width: 50px;
	}
	100% {
		width: 12px;
		transform: translate(700px, 0) rotate(-37deg);
	}
}

@keyframes boom-circle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	30% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
	}
}

@keyframes boom-triangle-big {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	40% {
		opacity: 0;
		transform: scale(2.5) translate(50px, -50px) rotate(360deg);
	}
	100% {
	}
}

@keyframes boom-triangle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	30% {
		opacity: 0;
		transform: scale(3) translate(20px, 40px) rotate(360deg);
	}
	
	100% {
	}
}

@keyframes boom-disc {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	40% {
		opacity: 0;
		transform: scale(2) translate(-70px, -30px);
	}
	100% {
		
	}
}
.footer {
	color: white;
	font-size: 10px;
	position: fixed;
	bottom: 0;
	font-weight: 200;
	padding: 10px 20px;
	
	a {
		&,
		&:hover,
		&:focus,
		&:visited {
			color: #c6c6c6;
		}
	}
}

.card-hover-effect {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-hover-container {
  position: relative;
  width: 100%; 
  height: 700px; 
}

.hover-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #f0f0f0;
  cursor: pointer;
  opacity: 1; 
  transition: opacity 0.5s ease; 
  z-index: 2; 
}

.hover-button:hover {
  opacity: 0; 
}

.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  z-index: 1; 
  overflow: hidden;
}
.hover-button:hover + .image-hover {
  display: block;
}


  }