@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    /* main */
    @keyframes move {
      0% {
        transform: translateX(0) translateY(0);
      }
      100% {
        transform: translateX(100vw) translateY(100vh);
      }
    }
    
    .main-container {
      @apply flex min-h-screen flex-1 flex-col items-center bg-[#0f0f20] px-6 pb-10 pt-28 max-md:pb-32 sm:px-10 relative overflow-hidden;
    }
    
    .main-container::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%; /* Large size to cover the entire container */
      height: 200%;
      background: repeating-linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.1) 1px,
          transparent 1px,
          transparent 50px
      ); /* Creates a grid of lines */
      animation: move 25s linear infinite; /* Adjust time as needed */
      filter: blur(10px); /* Apply a blur to the entire pseudo-element */
    }
    /* Head Text */
    .head-text {
      @apply text-heading2-bold text-light-1;
    }
  
    /* Activity */
    .activity-card {
      @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
    }
  
    /* No Result */
    .no-result {
      @apply text-center !text-base-regular text-light-3;
    }
  
    /* Community Card */
    .community-card {
      @apply w-full rounded-lg bg-emerald-50 px-4 py-5 sm:w-96;
    }
  
    .community-card_btn {
      @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !important;
    }
  
    /* thread card  */
    .thread-card_bar {
      @apply relative mt-2 w-0.5 grow rounded-full bg-lime-200;
    }
  
    /* User card */
    .user-card {
      @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
    }
  
    .user-card_avatar {
      @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
    }
  
    .user-card_btn {
      @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
    }
  
    .searchbar_input {
      transition: all 0.3s ease-in-out;
      width: 100%; /* Default width */
      background-color: #f0f0f0; /* Light grey background */
    }
    
    .searchbar_input:focus {
      width: 100%; /* Expand to full width on focus */
      background-color: #ffffff; /* Change to white on focus */
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    }
  
    .topbar {
      @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
    }
  
    .bottombar {
      @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
    }
  
    .bottombar_container {
      @apply flex items-center justify-between gap-3 xs:gap-5;
    }
  
    .bottombar_link {
      @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
    }
  
    .leftsidebar {
      @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
    }
  
    .leftsidebar_link {
      @apply relative flex justify-start gap-4 rounded-lg p-4;
    }
  
    .pagination {
      @apply mt-10 flex w-full items-center justify-center gap-5;
    }
  
    .rightsidebar {
      @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
    }
  }
  
  @layer utilities {
    .css-invert {
      @apply invert-[50%] brightness-200;
    }
  
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #09090a;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5c5c7b;
      border-radius: 50px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7878a3;
    }
  }
  
  /* Clerk Responsive fix */
  .cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
  }
  
  .cl-organizationSwitcherTrigger
    .cl-organizationPreview
    .cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
  }
  
  /* Shadcn Component Styles */
  
  /* Tab */
  .tab {
    @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
  }
  
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  
  /* Account Profile  */
  .account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
  }
  
  .account-form_image-input {
    @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
  }
  
  .account-form_input {
    @apply border border-dark-4 bg-dark-3 text-light-1 !important;
  }
  
  /* Comment Form */
  .comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
  }
  
  .comment-form_btn {
    @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
  }
  .fullcalendar-container {
    width: 100%; /* Use 100% of the available width */
    height: 80vh; /* Use 80% of the viewport height */
    min-width: 500px; /* Minimum width of the calendar */
    min-height: 500px; /* Minimum height of the calendar */
    padding: 20px;
    overflow: hidden; /* Hide overflow */
  }
  
  @media (max-width: 768px) {
    .fullcalendar-container {
      height: 100vh;
    }
  }
  
  @media (orientation: landscape) {
    .fullcalendar-container {
      height: 100vh;
    }
    .card-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.card-hover-effect:hover {
  transform: scale(1.05);
}

@keyframes bubble {
  0% {
      transform: translateY(100vh) translateX(0); /* Start just below the screen */
      opacity: 0.1; /* Start slightly visible for a smooth entry */
  }
  50% {
      opacity: 0.6; /* More visible in the middle of the screen */
  }
  100% {
      transform: translateY(-100vh) translateX(0); /* Move to just above the top of the screen */
      opacity: 0.1; /* Fade out before exiting */
  }
}
/* Fallout-inspired styles */
.topbar {
    background-color: #0f0f20; /* Dark blue reminiscent of Fallout's color scheme */
    color: #ffffff; /* White text for readability */
    font-family: 'VT323', monospace;
    border-bottom: 4px solid #d9f99d; /* Rusty orange accent for the bottom border */
}

.topbar a, .topbar a:hover {
    color: #d9f99d; /* Rusty orange link color */
}

/* Style modifications for retro feel */
button, .organizationSwitcherTrigger {
    background-color: #336699; /* Muted blue for buttons */
    border: none; /* Remove border for a flat design */
    font-family: 'Courier New', Courier, monospace; /* Consistent monospace font */
    text-transform: uppercase;
    letter-spacing: 1px; /* Increase letter spacing for a typewriter effect */
    box-shadow: 2px 2px 0px #d9f99d; /* Add shadow for a 3D effect */
}

/* Remove the default clerk themes to better suit the Fallout style */
button.clerk, .organizationSwitcherTrigger {
    background-color: transparent; /* Remove background */
    color: #ffffff; /* Set text color to white */
    padding: 10px 20px;
}


.bubble {
  position: absolute;
  bottom: 0;
  width: 4px;  /* Smaller size for more bubbles */
  height: 4px;
  background-color: white; /* Color of the bubbles */
  border-radius: 50%;
  opacity: 0;
  animation: bubble 15s linear infinite; /* Adjust timing as needed for speed */
}



/*left side bare
*/
/* Fallout-inspired sidebar styles */
.custom-scrollbar {
  scrollbar-color: #d9f99d #d9f99d; /* Custom scrollbar colors */
}

.leftsidebar {
  background-color: #0f0f20; /* Dark background color */
  color: #ffffff; /* White text for readability */
}

.leftsidebar a, .leftsidebar a:after {
  color: #d9f99d; /* Light green text color */
}

.leftsidebar_link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'VT323', monospace; /* Retro monospace font */
  transition: background-color 0.3s; /* Smooth transition for hover states */
  position: relative; /* Enable absolute positioning for pseudo-elements */
}

.leftsidebar_link:hover, .leftsidebar_link.bg-primary-500 {
  background-color: #3352da; /* Blue color for active or hovered links */
}

/* This will add a yellow line after each .leftsidebar_link */
.leftsidebar_link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px; /* Width of the yellow line */
  height: 100%; /* Full height of the parent element */
  background-color: #d9f99d; /* Yellow color for the line */
}

.leftsidebar_link:not(:last-child)::after {
  height: calc(100% + 16px); /* Extend line height beyond each item for continuous lines */
}

.leftsidebar_link:last-child::after {
  height: 100%; /* Last item should not extend line beyond itself */
}

.leftsidebar_link p {
  color: inherit; /* Ensures text color matches the parent */
}

/* Add custom styles for logout button */
.sign-out-button div {
  transition: background-color 0.3s; /* Smooth transition for hover states */
}

.sign-out-button div:hover {
  background-color: #336699; /* A muted blue for the hover state */
  box-shadow: 0 0 10px #e69900; /* Glow effect on hover */
}


.input-focus-effect:focus, .textarea-focus-effect:focus {
  outline: none;
  border-color: #f5f5dc; /* Light beige border */
  background-color: #e2e2e2; /* Lighter grey background */
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Hover animation for buttons */
.button-hover-effect:hover {
  background-color: #d9f99d; /* Light green background */
  transform: scale(1.05); /* Slightly larger */
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}


/* Custom styling for <select> dropdowns */
.select-custom {
  appearance: none;  /* Remove default styling */
  background-color: #336699; /* Dark background */
  color: #d9f99d; /* Light text */
  border: 2px solid #d9f99d; /* Slightly lighter border than the background */
  padding: 8px 16px; /* Padding for text */
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  position: relative; /* For positioning the custom arrow */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position for the arrow */
  background-size: 12px; /* Size of the arrow */
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out; /* Smooth transition for background and border */
}

.select-custom:focus {
  background-color: #222; /* Darker background on focus */
  border-color: #d9f99d; /* Lighter border on focus */
}


/* Custom styling for file input */
.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-button {
  border: 2px solid #d9f99d; /* Darker border for better contrast */
  color: #d9f99d; /* White text */
  background-color: #336699; /* Dark background */
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.file-input-field {
  font-size: 100px; /* Large size so the file input spans wider than the button */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; /* Hide the actual file input control */
}

.file-input-button:hover,
.file-input-button:focus {
  background-color: #222; /* Slightly darker background on hover/focus */
  border-color: #888; /* Lighter border on hover/focus */
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out; /* Smooth transition */
}


.avatar-animation-container {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ffd700; /* Gold border */
  animation: float 5s ease-in-out infinite;
}

.avatar-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/*animation*/


.animation-container {
	display: block;
	position: relative;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	
	.lightning-container {
		position: absolute;
		top: 50%;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		
		.lightning {
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 12px;
			transform-origin: 6px 6px;

			animation-name: woosh;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			animation-direction: alternate;

			&.white {
				background-color: white;
				box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
			}

			&.red {
				background-color: #fc7171;
				box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
				animation-delay: 0.2s;
			}
		}
	}
	
	
	.boom-container {
		position: absolute;
		display: flex;
		width: 80px;
		height: 80px;
		text-align: center;
		align-items: center;
		transform: translateY(-50%);
    left: 200px;
    top: -145px;
		
		.shape {
			display: inline-block;
			position: relative;
			opacity: 0;
			transform-origin: center center;
			
			&.triangle {
				width: 0;
				height: 0;
				border-style: solid;
				transform-origin: 50% 80%;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				margin-left: -15px;
				border-width: 0 2.5px 5px 2.5px;
				border-color: transparent transparent #42e599 transparent;
				animation-name: boom-triangle;
				
				&.big {
					margin-left: -25px;
					border-width: 0 5px 10px 5px;
					border-color: transparent transparent #fade28 transparent;
					animation-name: boom-triangle-big;
				}
			}
			
			&.disc {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: #d15ff4;
				animation-name: boom-disc;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
			}
			
			&.circle {
				width: 20px;
				height: 20px;
				animation-name: boom-circle;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				border-radius: 100%;
				margin-left: -30px;
				
				&.white {
					border: 1px solid white;
				}
				
				&.big {
					width: 40px;
					height: 40px;
					margin-left: 0px;
					
					&.white {
						border: 2px solid white;
					}
				}
			}
			
			&:after {
				background-color: rgba(178, 215, 232, 0.2);
			}
		}
		
		.shape {
			&.triangle, &.circle, &.circle.big, &.disc {
				animation-delay: .38s;
				animation-duration: 3s;
			}
			
			&.circle {
				animation-delay: 0.6s;
			}
		}
		
		&.second {
			left: 485px;
			top: 155px;
			.shape {
				&.triangle, &.circle, &.circle.big, &.disc {
					animation-delay: 1.9s;
				}
				&.circle {
					animation-delay: 2.15s;
				}
			}
		}
	}
}

@keyframes woosh {
	0% {
		width: 12px;
		transform: translate(0px, 0px) rotate(-35deg);
	}
	15% {
		width: 50px;
	}
	30% {
		width: 12px;
		transform: translate(214px, -150px) rotate(-35deg);
	}
	30.1% {
		transform: translate(214px, -150px) rotate(46deg);
	}
	50% {
		width: 110px;
	}
	70% {
		width: 12px;
		transform: translate(500px, 150px) rotate(46deg);
	}
	70.1% {
		transform: translate(500px, 150px) rotate(-37deg);
	}
	
	85% {
		width: 50px;
	}
	100% {
		width: 12px;
		transform: translate(700px, 0) rotate(-37deg);
	}
}

@keyframes boom-circle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	30% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
	}
}

@keyframes boom-triangle-big {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	40% {
		opacity: 0;
		transform: scale(2.5) translate(50px, -50px) rotate(360deg);
	}
	100% {
	}
}

@keyframes boom-triangle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	30% {
		opacity: 0;
		transform: scale(3) translate(20px, 40px) rotate(360deg);
	}
	
	100% {
	}
}

@keyframes boom-disc {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	40% {
		opacity: 0;
		transform: scale(2) translate(-70px, -30px);
	}
	100% {
		
	}
}
.footer {
	color: white;
	font-size: 10px;
	position: fixed;
	bottom: 0;
	font-weight: 200;
	padding: 10px 20px;
	
	a {
		&,
		&:hover,
		&:focus,
		&:visited {
			color: #c6c6c6;
		}
	}
}

.card-hover-effect {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-hover-container {
  position: relative;
  width: 100%; /* Adjusts to full width of the parent container */
  height: 700px; /* Height to match the image */
}

.hover-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #f0f0f0;
  cursor: pointer;
  opacity: 1; /* Fully visible initially */
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
  z-index: 2; /* Ensures button is above the image */
}

.hover-button:hover {
  opacity: 0; /* Button becomes transparent on hover */
}

.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  z-index: 1; /* Lower than button to keep it clickable */
  overflow: hidden;
}
.hover-button:hover + .image-hover {
  display: block;
}


  }