/* AIAssistant.css */

/* Conteneur principal */
.ai-assistant-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

/* Titre de l'assistant */
.ai-assistant-title {
  background-color: transparent;
  color: #fff;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 0;
  border-bottom: 2px solid #fff;
}

/* Zone des messages */
.ai-assistant-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner les messages à gauche */
  justify-content: flex-start; /* Aligner les messages en haut */
  overflow-y: auto; /* Défilement vertical si nécessaire */
  padding: 10px;
}

/* Style des messages */
.message {
  padding: 8px 12px;
  margin-bottom: 8px;
  max-width: 70%; /* Largeur maximale des messages */
  word-wrap: break-word; /* Permettre le retour à la ligne */
  border-radius: 8px;
  margin-left: auto; /* Aligner à droite */
  margin-right: auto; /* Aligner à gauche */
}

/* Style des messages de l'utilisateur */
.user {
  /* Style des messages de l'utilisateur */
.user {
  background-color: #2196F3; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 8px 12px;
  margin-bottom: 8px;
  max-width: 70%; /* Largeur maximale des messages */
  word-wrap: break-word; /* Permettre le retour à la ligne */
  border-radius: 8px;
  margin-left: auto; /* Aligner à droite */
}

}

/* Style des messages de l'assistant */
.ai {
  padding: 8px 12px;
  margin-bottom: 8px;
  max-width: 70%; /* Largeur maximale des messages */
  word-wrap: break-word; /* Permettre le retour à la ligne */
  border-radius: 8px;
  margin-left: 5px; /* Aligner à gauche avec un padding de 20px */
  background-color: #fff; /* Arrière-plan transparent en noir */
  color: #2196F3; /* Texte blanc */
}


/* Zone de saisie de l'utilisateur */
.ai-assistant-input {
  display: flex;
  align-items: center;
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  border-top: 1px solid #ccc;
}

.input-container {
  flex: 1;
  display: flex; /* Utilisation de flexbox pour aligner l'input et le bouton */
}

.ai-assistant-input input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  padding-right: 40px;
}

.ai-assistant-input button {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background-color: transparent;
  color: #2196F3;
  border: 1px transparent; /* Ajouter une bordure transparente */
  border-radius: 5px; /* Ajouter un border-radius pour arrondir les coins */
  cursor: pointer;
}

/* Flèche dans le bouton d'envoi */
.ai-assistant-input button::before {
  content: '\25B2';
  font-size: 2em;
}
