/* styles/style1.css */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d30a0a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(247, 78, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  